.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.item {
    flex-basis: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.item2 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}