body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
}

.calendar {
    background-color: #D9D9D966;
    border: 1px solid black;
    border-radius: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
  
.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
  
.prev, .next {
    cursor: pointer;
}
  
.weekdays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 63px;
    margin-right: 63px;
}
  
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
  
.day {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.day:hover {
    background-color: #007bff;
    border-radius: 50px;
}

.day.clicked {
    background-color: #007bff;
    color: #fff;
    border-radius: 50px;
}

.day.today {
    background-color: #007bff;
    color: #fff;
}