.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.item {
    flex-basis: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.item2 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .item {
        flex-basis: 100%;
        justify-content: center;
    }
    .margin {
        margin-top: 50px;
    }
}

.margin-top-appointment {
    margin-top: 65px;
}

h2 {
    font-size: 30px;
}

.display {
    display: inline-block;
}