:root {
	--centered-text: 12px 94px;
	--content-padding-left: 10px;
	--padding-vertical: 20px;
    --padding-horizontal: 63px;
    --padding-horizontal-appointment: 17px;
    --padding-vertical-appointment: 20px;
}

body {
	top: 10px;
	
	
	z-index: -9999;
}

.margin-bottom{
	margin-bottom: 900px;
}

body {
	margin: 0;
	background: linear-gradient(to bottom, #c5afb7, #6699ff, #ffff);
	width: 100%;
	height: 100%;
}

.homepage1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homepage2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    flex-basis: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.item1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.subitem {
    width: 100%;
    flex-basis: 100%;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .item {
        flex-basis: 100%;
    }
}

.relative {
	position: relative;
}

.centered {
	font-size: 40px;
	text-align: center;
	color: #ffff;
}
.alone-bro {
	width: 800px;
	height: auto;
	max-width: 100%;
}

.rounded-button {
    border: none;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    margin: 10px;
    transition: box-shadow 0.3s ease;
    background-color: #c5afb7;
    color: #ffff;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.rounded-button:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.threebuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.threebuttonsitems {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.center {
	text-align: center;
	font-size: 40px;
	color: #fff;
}

.assistanceimg {
    width: 60%;
    height: auto;
}

.assistancecontainer {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.text-with-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 25px;
    background-color: rgba(0,205,255,0.88);
    border: 2px solid black;
    border-radius: 25px;
    box-sizing: border-box;
}

.margin1 {
    margin-top: 120px;
    width: 100%;
    height: 1%;
}

.margin2 {
    margin-top: 40px;
    width: 100%;
    height: 1%;
}