.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

body {
	margin: 0;
}

.margin-top {
    margin-top: 20px;
}

.textcenter {
    text-align: center;
}

.flexrev {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}

.item {
	flex-basis: 50%;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	padding: 60px;
	height: 100%;
	padding-top: 200px;
}

.item1 {
	flex-basis: 50%;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	padding: 60px;
	height: 100%;
}

.narrow {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 100px;
}

.subitem {
	width: 100%;
	flex-basis: 100%;
	flex-wrap: wrap;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.Book {
	border: 2px solid black;
	border-radius: 15px;
	width: 250px;
	height: 70px;
	background-color: #F1EAAA;
	color: white;
	text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
	cursor: pointer;
	font-size: 20px;
	transition-duration: 0.1s;
}

.Book:hover {
    border: 3px solid black;
	background-color: #c5afb7;
    
}

.margin-bottom{
	margin-bottom: 50px;
}

.border {
	flex-basis: 100%;
    display: flex;
    text-align: center;
    box-sizing: border-box;
	justify-content: center;
	align-items: center;
    width: 300px;
    height: 300px;
    font-size: 15px;
    border: 1px solid black;
    border-image: initial;
    border-radius: 60px;
    padding: 10px;
}

.textfield1 {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 30px;
}

@media screen and (max-width: 1600px) {
	.item {
		flex-basis: 100%;
		height: auto;
	}
	.flexrev {
		flex-direction: column;
	}
	.mapflex {
		height: auto;
	}
	.item {
		padding-top: 40px;
	}
	.margin-top {
		margin-top: 82px;
	}
}

.logo {
	width: 600px;
	height: auto;
}

.alone-bro2 {
	width: 600px;
}

.boxinsta {
	border: 2px solid black;
	border-radius: 40px;
	width: 200px;
	height: 200px;
	background-color: #ECD4D4;
	cursor: pointer;
	line-height: 10px;
	padding-top: 20px;	
	transition-duration: 0.1s;
}

.boxinsta:hover {
    border: 3px solid black;
	background-color: white;
    
}

.boxfb {
	border: 2px solid black;
	border-radius: 40px;
	width: 200px;
	height: 200px;
	background-color: #D4C8E8;
	cursor: pointer;
	padding-top: 20px;	
	transition-duration: 0.1s;
}

.boxfb:hover {
    border: 3px solid black;
	background-color: white;
    
}

.boxphone {
	border: 2px solid black;
	border-radius: 40px;
	width: 200px;
	height: 200px;
	background-color: #AAD0E6;
	cursor: pointer;
	line-height: 10px;
	padding-top: 20px;	
	transition-duration: 0.1s;
}

.boxphone:hover {
    border: 3px solid black;
	background-color: white;
    
}

.imageinsta{
	width: calc(100% - 120px);
	height: auto;
}

.imagefb{
	width: calc(100% - 120px);
	height: auto;
}

.imagephone {
	width: calc(100% - 120px);
	height: auto;
}

.more {
	border: 2px solid black;
	border-radius: 15px;
	margin-top: 30px;
	width: 170px;
	height: 60px;
	background-color:#AAD0E6;
	color: white;
	text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
	cursor: pointer;
	font-size: 15px;
	transition-duration: 0.1s;
}

.more:hover {
    border: 3px solid black;
	background-color: #F1EAAA;
    
}

.knowmore{
	border: 2px solid black;
	border-radius: 15px;
	width: 150px;
	height: 50px;
	background-color: #825F3E0F;
	color: white;
	text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
	cursor: pointer;
	font-size: 15px;
	transition-duration: 0.1s;
}

.knowmore:hover {
    border: 3px solid black;
	background-color: #AAD0E6;
    
}

.contact-buttons {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contact-buttonsitems {
	padding: 50px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.doctorpic {
	width: 600px;
	height: auto;
}

.maps {
	height: 100%;
	width: auto;
}

.box-contents {
	display: flex;
	justify-content: center;
}


.visitus {
	text-align: center;
	font-size: 36px;
}

.mapflex {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	height: 88%;
}

.imagelogo {
	z-index: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: 100%;
}

.boxmap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F2EED1CF;
    border: 1px solid black;
    z-index: 1;
}

.boxmap-container {
	position: relative;
	width: 90%;
	height: 800px;
	margin: 0 auto;
}

.address {
	font-size: 26px;
	text-align: center;
}

